<table>
  <tr>
    <td><%=t :Quantity %></td>
    <td><%=t :image %></td>
    <td><%=t :titre %></td>
    <td><%=t :Price %></td>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= session[:cart].count product.id %>
      </td>
      <td>
        <img src="/uploads/articlesimages/<%= product.image %>" 
             alt="<%= product.title %>" />
      </td>
      <td>
        <%= product.title %>
      </td>
      <td>
        <%= get_formatted_price product.price %> €
      <td>
        <%= link_to cart_path(product.id), :method => :delete do %>
          <%= I18n.t :supprimer %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>