<div id="recommend-modal" class="modal fade">

  <%= form_for @recommendation, :url => product_recommander_path(@product.id), :remote => true do |f| %>

    <div class="modal-body">
      <div>
        <%= hidden_field_tag :product_id, @product.id %>
      </div>
      <p>
        <%= f.label :name, t(:your_name) %>
        <%= f.text_field :name, :required => :required %>
      </p>
      <p>
        <%= f.label :email, t(:your_friends_email) %>
        <%= f.email_field :email, :required => :required %>
      </p>
    </div>
    <div class="modal-footer">
      <%= f.submit t :Recommend, :class => "btn danger", :id => "submit" %>
      <a href="#" class="btn"
         onClick="$('#recommend-modal').modal('hide');return false;">
           <%= I18n.t :Cancel %>
      </a>
    </div>

  <% end %>
</div>

<div class="recommendation-alert" style="display:none;">
  <%=
  render :partial => 'layouts/partials/alert',
         :locals  => {:flash => {:success => I18n.t(:recommendation_sent)}}
  %>
</div>

<script type="text/javascript">
  $('#new_recommendation').submit(function() {
    $('#recommend-modal').modal('hide');
    $('.span14').prepend($('.recommendation-alert'));
    $('.recommendation-alert').show();
  });
</script>
