<li>
  <%= link_to root_path do %>
    <%= I18n.t :home %>
  <% end %>
</li>

<% if user_signed_in? && current_user.admin %>
<li>
  <%= link_to new_product_path do %>
    <%= I18n.t :ajouter_article %>
  <% end %>
</li>
<% end %>

<li>
  <%= link_to products_path do %>
    <%= I18n.t :afficher_articles %>
  <% end %>
</li>

<% if user_signed_in? %>
<li>
  <%= link_to cart_index_path do %>
    <%=  I18n.t :Panier %>
    <%= "(#{get_cart_status})" %> 
  <% end %>
</li>
<% end %>

<li>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, :method => :delete do %>
      <%= I18n.t :se_deconnecter %>
    <% end %>
  <% else %>
    <%= link_to I18n.t :se_connecter, new_user_session_path %>
  <% end %>
</li>