<% recommand = I18n.t :Recommander %>

<%= form_for @recommendation, :url => article_recommander_path(@article.id), :remote => true do |f| %>

  <div id="recommand-modal" class="modal">
    <div class="modal-body">
      <p><%= I18n.t :saisir_adresse_ami %></p>
      <div>
        <%= hidden_field_tag :article_id, @article.id %>
      </div>
      <p>
        <%= f.label :name, "Your name" %>
        <%= f.text_field :name, :required => :required %>
      </p>
      <p>
        <%= f.label :email, "Your friend's email address" %>
        <%= f.email_field :email, :required => :required %>
      </p>
    </div>
    <div class="modal-footer">
      <%= f.submit recommand, :class => "btn danger", :id => "submit" %>
      <a href="#" class="btn" 
         onClick="$('#recommand-modal').modal('hide');return false;">
           <%= I18n.t :Annuler %>
      </a>
    </div>
  </div>

<% end %>