<% recommand = I18n.t :Recommander %>

<div id="recommand-modal" class="modal fade">


  <%= form_for @recommendation, :url => product_recommander_path(@product.id), :remote => true do |f| %>

    <div class="modal-body">
      <p><%= I18n.t :saisir_adresse_ami %></p>
      <div>
        <%= hidden_field_tag :product_id, @product.id %>
      </div>
      <p>
        <%= f.label :name, "Your name" %>
        <%= f.text_field :name, :required => :required %>
      </p>
      <p>
        <%= f.label :email, "Your friend's email address" %>
        <%= f.email_field :email, :required => :required %>
      </p>
    </div>
    <div class="modal-footer">
      <%= f.submit recommand, :class => "btn danger", :id => "submit" %>
      <a href="#" class="btn" 
         onClick="$('#recommand-modal').modal('hide');return false;">
           <%= I18n.t :Annuler %>
      </a>
    </div>

  <% end %>
</div>

<div class="recommendation-alert" style="display:none;">
  <%=
  render :partial => 'partials/alert',
         :locals  => {:flash => {:success => I18n.t(:recommendation_envoyee)}}
  %>
</div>

<script type="text/javascript">
  $('#new_recommendation').submit(function() {
    $('#recommand-modal').modal('hide');
    $('.span14').prepend($('.recommendation-alert'));
    $('.recommendation-alert').show();
  });
</script>