<table>
  <% @products.each do |product| %>
    <tr>
      <td>
        <img src="/uploads/articlesimages/<%= product.image %>" 
             alt="<%= product.title %>" />
      </td>
      <td>
        <%= product.title %>
      </td>
      <td>
        <%= link_to panier_path(product.id), :method => :delete do %>
          <%= I18n.t :supprimer %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>