<table>

  <% if @products.empty? %>
    <tr>
      <td>Il n'y a aucun produit enregistré</td>
    </tr>
  <% else %>

    <tr>
      <td><%=t :image %> </td>
      <td><%=t :titre %> </td>
      <td><%=t :Price %> </td>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td>
          <a href="<%= product_path product.id %>">
            <img src="/uploads/articlesimages/<%= product.image %>" 
                 alt="<%= product.title %>" />
          </a>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.price %> €
        </td>
        <% if user_signed_in? %>
          <td>
            <%= link_to product_commander_path product.id do %>
              <%= I18n.t :commander %>
            <% end %>
          </td>
          <% if current_user.admin %>
            <td>
              <%= link_to edit_product_path product.id do %>
                <%= I18n.t :editer %>
              <% end %>
            </td>
            <td>
              <%= link_to product_path(product.id), :method => :delete do %>
                <%= I18n.t :supprimer %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>

  <% end %>

</table>