<% @page_small_title = I18n.t :description_produit %>

<img src="/uploads/articlesimages/<%= @product.image %>" 
     alt="<%= @product.title %>" 
     style="float:right;" />

<h2><%= @product.title %></h2>
<p><%= @product.description %></p>

<p class="recommand">
  <a href="#" class="btn primary" 
     data-controls-modal="recommand-modal"
     data-backdrop="true"
     data-keyboard="true">
       <%= I18n.t :recommander_ami %>
  </a>
</p>

<%= 
render :partial => 'partials/modals/recommand_modal',
       :locals  => { :product => @product, :recommendation => @recommendation}
%>