<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">TP RoR</a>

          <ul class="nav">
            <%= render :partial => 'layouts/partials/navbar.html.erb' %>
          </ul>
          <% if !user_signed_in? %>
            <%= render :partial => 'layouts/forms/login_form' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>
            <%= @page_title || '' %>
            <small><%= @page_small_title || '' %></small>
          </h1>
        </div>

        <div class="row">
          <div class="span14">
            <% if not flash.empty? %>
              <%= render :partial => 'layouts/partials/alert' %>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Dinduks</p>
      </footer>

    </div>

  </body>
</html>
